#header{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  overflow-y: hidden;
  z-index: 8;
}
.carrito{
  color: white;
  margin: 10px;

}
.opcionclase{
  text-decoration: none;
  margin: 10px;
  color: white;
  display: block;
  position: relative;
  padding: 0.2em;
  overflow-y: visible;
  font-family: 'Reem Kufi Fun', sans-serif;
}
.opcionclase:hover{
  color: white;
}
.opcionclase::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.opcionclase:hover::after,
.opcionclase:focus::after{
  transform: scale(1);
}

